In [1]:
lst1=["Krish","Sam","John"]
lst2=["a",'b','c']

In [2]:
for i in lst1:
    print(i)

Krish
Sam
John

In [3]:
output=zip(lst1,lst2)

In [4]:
output

In [5]:
list(output)

[('Krish', 'a'), ('Sam', 'b'), ('John', 'c')]

In [6]:
### zip object is an iterator
next(output)

StopIteration:

In [ ]:
lst1=["Krish","Sam","John",4]
lst2=["a",'b','c']
lst3=[1,2,3]

In [ ]:
output=zip(lst1,lst2,lst3)
for i,j,k in output:
    print(i,j,k)

In [7]:
list(zip())

[]

In [8]:
dict1={'name':'Krish','lst_name':'Naik','age':30}
dict2={'name':'Amit','lst_name':'Verma','age':29}

In [9]:
dictionary=zip(dict1.items(),dict2.items())

In [10]:
dict1

{'name': 'Krish', 'lst_name': 'Naik', 'age': 30}

In [11]:
for (i,j),(i2,j2) in dictionary:
    print(i, j)
    print(i2,j2)

name Krish
name Amit
lst_name Naik
lst_name Verma
age 30
age 29